<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Bu klasördeki Rewrite kurallarını devre dışı bırak -->
        <rewrite>
            <rules>
                <clear />
            </rules>
        </rewrite>
        <!-- Klasör listelemeyi kapat -->
        <directoryBrowse enabled="false" />
        <!-- Statik dosyalara izin ver -->
        <handlers>
            <clear />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
        </handlers>
    </system.webServer>
</configuration>